th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: lightgray;
  text-align: center;
}

#head-container {
  background-color: darkblue;
  width: 100%;
  height: 100px;
}

#top {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  width: 75%;
  margin:0 auto;
  padding: 20px;
  font-size: 22px;
}

#middle {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  width: 75%;
  margin:0 auto;
  padding: 20px;
  font-size: 18px;
}

.header {
  color:blue;
  text-align:left;
  font-size: 37px;
}

.table-std {
  border: 2px solid black;
  border-collapse: collapse;
  width: 60%;
}
